/*
 * Colors
 */
.CardsComp {
  background: url(imgs/bg-cardlist.png) #f5f5f5;
  background-size: 77px auto;
  margin-top: 3rem;
  padding: 1rem 0;
  position: relative; }
  .CardsComp > .search {
    display: none; }
  .CardsComp .cards-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5rem;
    justify-content: space-between; }
    @media (max-width: 768px) {
      .CardsComp .cards-list {
        padding-left: 1rem;
        padding-right: 1rem; } }
    .CardsComp .cards-list > .empty {
      flex: 1;
      padding-top: 5rem;
      min-height: 30rem;
      text-align: center; }
      .CardsComp .cards-list > .empty h1 {
        font-weight: normal;
        opacity: 0.4; }
    .CardsComp .cards-list > .card {
      position: relative;
      max-width: 23%;
      min-width: 23%;
      flex: 1 0 23%;
      margin: 0 0 5rem;
      min-height: 250px;
      padding: 1rem;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); }
      @media (min-width: 769px) and (max-width: 1024px), (min-width: 1025px) {
        .CardsComp .cards-list > .card {
          transition: all 0.2s ease-in-out; } }
      @media (min-width: 769px) and (max-width: 1024px) {
        .CardsComp .cards-list > .card {
          max-width: 30%;
          min-width: 30%;
          flex: 1 0 30%; } }
      @media (max-width: 768px) {
        .CardsComp .cards-list > .card {
          max-width: 100%;
          min-width: 100%;
          flex: 1 0 100%;
          margin: 0 0 2rem; } }
      @media (min-width: 769px) and (max-width: 1024px), (min-width: 1025px) {
        .CardsComp .cards-list > .card:hover {
          transform: translate3d(0, -10px, 0);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05); } }
      .CardsComp .cards-list > .card > .image {
        position: relative;
        background: #f5f5f5;
        border-radius: 3px;
        height: 150px;
        overflow: hidden; }
        @media (max-width: 768px) {
          .CardsComp .cards-list > .card > .image {
            min-height: 60vw; } }
        .CardsComp .cards-list > .card > .image img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .CardsComp .cards-list > .card > .title {
        color: #3cb054;
        margin: 1rem 0; }
      .CardsComp .cards-list > .card > .description {
        color: #555;
        font-size: 1.3rem;
        line-height: 2rem; }
      .CardsComp .cards-list > .card > .action-buttons {
        display: flex;
        justify-content: space-between; }
        .CardsComp .cards-list > .card > .action-buttons .btn {
          padding: 0.8rem 2.2rem; }
        .CardsComp .cards-list > .card > .action-buttons .btn + .btn {
          margin-top: 0; }
      .CardsComp .cards-list > .card > .donation-popup {
        position: absolute;
        margin: 1rem;
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
        top: 0;
        left: 0;
        overflow: auto;
        padding: 1rem;
        border-radius: 3px;
        background: #f5f5f5;
        opacity: 0;
        transform: scale(0.95);
        transition: all 0.3s ease-in-out;
        pointer-events: none; }
        .CardsComp .cards-list > .card > .donation-popup.on {
          pointer-events: all;
          opacity: 1;
          transform: scale(1); }
        .CardsComp .cards-list > .card > .donation-popup > .close {
          width: 16px;
          height: 16px;
          position: absolute;
          right: 10px;
          top: 10px; }
        .CardsComp .cards-list > .card > .donation-popup > h1 {
          margin: 0;
          padding: 0rem 50px 1rem 0;
          font-size: 1.5rem;
          border-bottom: 1px solid rgba(153, 153, 153, 0.2); }
        .CardsComp .cards-list > .card > .donation-popup > h2 {
          text-align: center;
          margin-top: 4rem;
          opacity: 0.3;
          font-weight: normal;
          font-size: 1.5rem; }
        .CardsComp .cards-list > .card > .donation-popup .title {
          font-size: 1.3rem;
          margin-top: 1rem; }
        .CardsComp .cards-list > .card > .donation-popup .address {
          font-size: 1.2rem;
          color: #3cb054;
          font-weight: bold;
          margin: 0.5rem 0 2rem; }


/*
 * Colors
 */
.FooterComp {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: row;
  padding: 2rem 0; }
  @media (max-width: 768px) {
    .FooterComp {
      flex-direction: column;
      align-items: center; } }
  .FooterComp > .logo {
    display: flex;
    align-items: center;
    width: 100px; }
    .FooterComp > .logo img {
      width: 100%; }
    @media (max-width: 768px) {
      .FooterComp > .logo {
        margin: 1rem 0; } }
  .FooterComp > .menu {
    display: flex;
    align-items: center; }
    .FooterComp > .menu > ul {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      list-style: none; }
      @media (max-width: 768px) {
        .FooterComp > .menu > ul {
          flex-direction: column; } }
      .FooterComp > .menu > ul > li {
        margin: 0 2rem;
        font-size: 1.3rem; }
        @media (max-width: 768px) {
          .FooterComp > .menu > ul > li {
            padding: 1rem 0;
            text-align: center;
            font-size: 1.4rem;
            margin: 0; } }
        .FooterComp > .menu > ul > li:last-child {
          margin-right: 0; }


/*
 * Import your 3rd-party fonts here
 */
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
/*
 * Font-related variables
 */
/*
 * Colors
 */
.SearchComp {
  width: 400px;
  height: 50px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 10px 50px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: -36px auto 0; }
  @media (max-width: 768px) {
    .SearchComp {
      width: 90%; } }
  .SearchComp input {
    background: url(imgs/icon-search.svg) no-repeat center right 10px #fff;
    background-size: 17px auto;
    font-family: "Lato", sans-serif;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 1.8rem;
    color: #555; }
    .SearchComp input:focus {
      background-color: #f5f5f5; }


/*
 * Colors
 */
.SideBarComp {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .SideBarComp > .overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(85, 85, 85, 0.7);
    opacity: 0;
    opacity: 0;
    transition: opacity 0.4s linear; }
    .SideBarComp > .overlay.on {
      opacity: 1; }
  .SideBarComp .sidebar {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    overflow: auto;
    padding: 2rem;
    background: #fff;
    transition: transform 0.4s cubic-bezier(0.17, 0.67, 0.42, 0.94);
    transform: translate3d(100%, 0, 0); }
    @media (max-width: 768px) {
      .SideBarComp .sidebar {
        width: 300px; } }
    .SideBarComp .sidebar.on {
      transform: translate3d(0, 0, 0); }
    .SideBarComp .sidebar > .title {
      font-weight: normal;
      margin: 0;
      color: #3cb054; }
    .SideBarComp .sidebar > .description {
      margin: 2rem 0;
      color: #555;
      font-size: 1.5rem;
      line-height: 2.2rem; }


/*
 * Colors
 */
.TopBarComp {
  display: flex;
  align-content: center;
  justify-content: space-between;
  height: 140px; }
  @media (max-width: 768px) {
    .TopBarComp {
      padding: 1rem;
      align-items: center;
      flex-direction: column;
      height: auto;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); } }
  .TopBarComp > .logo {
    width: 180px;
    display: flex;
    align-content: center;
    justify-content: space-between; }
    @media (max-width: 768px) {
      .TopBarComp > .logo {
        margin: 1rem 0; } }
    .TopBarComp > .logo img {
      width: 100%; }
  .TopBarComp > .menu {
    display: flex;
    align-items: center; }
    .TopBarComp > .menu > ul {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      list-style: none; }
      .TopBarComp > .menu > ul > li {
        margin: 0 2rem; }
        @media (max-width: 768px) {
          .TopBarComp > .menu > ul > li {
            padding: 1rem 0;
            text-align: center;
            font-size: 1.4rem; } }
        .TopBarComp > .menu > ul > li:last-child {
          margin-right: 0; }


/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/*
 * Import your 3rd-party fonts here
 */
/*
 * Font-related variables
 */
/*
 * Colors
 */
*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  font-size: 10px;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0; }

body {
  background: #fff;
  font-size: 1.5rem;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }
  body.no-scroll {
    overflow: hidden; }

hr {
  border: none;
  border-bottom: 1px solid rgba(153, 153, 153, 0.2);
  margin: 1rem 0; }

a {
  text-decoration: none;
  color: #3cb054;
  transition: color 0.2s linear; }
  a:hover {
    color: #226430; }

main {
  flex: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.4s cubic-bezier(0.17, 0.67, 0.42, 0.94); }
  main.off {
    transform: translate3d(-100px, 0, 0); }

.primary {
  color: #3cb054; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem; }
  @media (max-width: 768px) {
    .container {
      padding: 0; } }

.hero {
  min-height: 100px;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 9rem; }
  @media (max-width: 768px) {
    .hero {
      margin: 5rem 0; } }
  .hero h1 {
    margin: 0;
    font-size: 2.4rem; }
  .hero h2 {
    margin: 1rem 0 0 0;
    font-size: 2rem;
    font-weight: normal; }

.btn {
  display: block;
  border-radius: 3px;
  border: none;
  background: #3cb054;
  border: 1px solid #3cb054;
  color: #fff;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1.3rem; }
  .btn.outline {
    background: transparent;
    border-color: #3cb054;
    color: #3cb054; }
  .btn + .btn {
    margin-top: 0.5rem; }
  .btn:not(.outline):hover {
    color: #fff;
    background: #2f8a42;
    border-color: #2f8a42; }

.hero-img {
  width: 413px;
  margin-bottom: 3rem; }
  @media (max-width: 768px) {
    .hero-img {
      width: 80%; } }



/*# sourceMappingURL=app.css.map*/