@import '../_variables';
@import '../viewports';

.FooterComp {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: row;
  padding: 2rem 0;

  @include viewports(up-to small) {
    flex-direction: column;
    align-items: center;
  }

  > .logo {
    display: flex;
    align-items: center;
    width: 100px;

    img {
      width: 100%;
    }

    @include viewports(up-to small) {
      margin: 1rem 0;
    }
  }

  > .menu {
    display: flex;
    align-items: center;

    > ul {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      list-style: none;

      @include viewports(up-to small) {
        flex-direction: column;
      }

      > li {
        margin: 0 2rem;
        font-size: 1.3rem;

        @include viewports(up-to small) {
          padding: 1rem 0;
          text-align: center;
          font-size: 1.4rem;
          margin: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}